* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    width: 150px;
    border-radius: 50%;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto; 
    font-size: 10px;
    font-style: italic;
  }
#yes {
    background-color: green;
    background-repeat: no-repeat;
    background-size: cover;
}