* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0; /* Remove default margin */
  text-align: center;
  background: url('green.png') no-repeat center center fixed;
  background-size: cover;
}

nav {
  background-color: rgba(231, 208, 105, 0.3); /* Set the background color to green */
  display: flex;
  justify-content: space-between; /* Add space between logo and school name */
  align-items: center;
  padding: 10px; /* Add some padding for better spacing */
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  font-size: 10px;
  font-style: italic;
}

.logo {
  width: 150px;
  border-radius: 50%;
  margin-right: 10px; /* Add some margin to separate logo and text */
}

#h {
  color: black; /* Set text color to white */
}

hr {
  border: 1px solid #ccc; /* Add a border to the hr element */
  margin: 0; /* Remove default margin */
}
.buttons-container {
  margin-top: 20px;
}
.buttons-container button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
}